<a href="https://colab.research.google.com/github/Nishanth-thiyakarajan/Web-Scraping-using-Python/blob/main/flipkart_Web_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing Libraries.

In [73]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib
import csv 
import pandas as pd


### Connecting to Website and pulling the data

In [80]:
#We have given Iphone 11 model link from flipkart to get the details of this mobile.

URL = 'https://www.flipkart.com/apple-iphone-11-red-64-gb/p/itmc3935326f2feb?pid=MOBFWQ6BYYV3FCU7&lid=LSTMOBFWQ6BYYV3FCU7JCCDZJ&marketplace=FLIPKART&sattr[]=color&sattr[]=storage&st=color'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

#model Name of the Mobile

title = soup2.find(class_='B_NuCI').get_text()

#price of the Mobile

price = soup2.find(class_='_30jeq3 _16Jk6d').get_text()

# to get the stroage_list of this mobile

stroage_list=[]
stroage = soup2.find_all('a', class_="_1fGeJ5")
for r in stroage:
    stroage_list.append(r.get_text().strip())

# to get the colour_list of this mobile

color_list=[]
color = soup2.find_all('li', {'id':["swatch-0-color","swatch-1-color","swatch-2-color","swatch-3-color","swatch-4-color","swatch-5-color"]})
for r in color:
    color_list.append(r.get_text().strip())

#rating of the Mobile

rating = soup2.find(class_='_3LWZlK').get_text()


#Verify the data by printing the details scraped.

print(title.strip())
print(price.strip()[1:])
print(stroage_list)
print(color_list)
print(rating.strip())

APPLE iPhone 11 (Red, 64 GB)
39,999
['64 GB', '128 GB']
['Black', 'Green', 'Purple', 'Red', 'White', 'Yellow']
4.6

### Adding the Date

In [79]:
today = datetime.date.today()
print(today)

2022-11-18

### Writing the data into the CSV file.(Note : using Colab will save the CSV file in ./content/[filename.csv]).

In [81]:
header = ['Title', 'Price', 'Available Stroage','Available Colours','Ratings','Date']
data = [title.strip(), price.strip()[1:], stroage_list, color_list, rating.strip(), today]


with open('FlipkartWebScraperDataset.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

### Reading the CSV file using Pandas library.

In [89]:
df = pd.read_csv(r'/content/FlipkartWebScraperDataset.csv')
df

,Title,Price,Available Stroage,Available Colours,Ratings,Date
0,"APPLE iPhone 11 (Red, 64 GB)","39,999","['64 GB', '128 GB']","['Black', 'Green', 'Purple', 'Red', 'White', '...",4.6,2022-11-18
1,"APPLE iPhone 11 (Red, 64 GB)","39,999","['64 GB', '128 GB']","['Black', 'Green', 'Purple', 'Red', 'White', '...",4.6,2022-11-18

### Now we are appending data to the csv by changing the 'w' to 'a+'.

'w' means creating and writing the file.

'a+' means appending the data in the existing file.

In [85]:
with open('FlipkartWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

We have changed the writing mode of the csv. To verify, we are printing the csv file another time, this time same data present 2 times. Becasue, we ahve used the same data to write and append(above).

In [88]:
df = pd.read_csv('/content/FlipkartWebScraperDataset.csv')

df

,Title,Price,Available Stroage,Available Colours,Ratings,Date
0,"APPLE iPhone 11 (Red, 64 GB)","39,999","['64 GB', '128 GB']","['Black', 'Green', 'Purple', 'Red', 'White', '...",4.6,2022-11-18
1,"APPLE iPhone 11 (Red, 64 GB)","39,999","['64 GB', '128 GB']","['Black', 'Green', 'Purple', 'Red', 'White', '...",4.6,2022-11-18

#Combine all of the above code into one function

#### We have created a check_price function and added all the code. Now, if we call the function, we can get the data directly to the csv file. So, we can call the function manually, or we can set a timer to call the function automatially.

In [96]:
def check_price():

    URL = 'https://www.flipkart.com/apple-iphone-11-red-64-gb/p/itmc3935326f2feb?pid=MOBFWQ6BYYV3FCU7&lid=LSTMOBFWQ6BYYV3FCU7JCCDZJ&marketplace=FLIPKART&sattr[]=color&sattr[]=storage&st=color'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(class_='B_NuCI').get_text()

    price = soup2.find(class_='_30jeq3 _16Jk6d').get_text()

    stroage_list=[]
    stroage = soup2.find_all('a', class_="_1fGeJ5")
    for r in stroage:
        stroage_list.append(r.get_text().strip())

    color_list=[]
    color = soup2.find_all('li', {'id':["swatch-0-color","swatch-1-color","swatch-2-color","swatch-3-color","swatch-4-color","swatch-5-color"]})
    for r in color:
        color_list.append(r.get_text().strip())

    rating = soup2.find(class_='_3LWZlK').get_text()

    import datetime
    today = datetime.date.today()
    
    import csv 

    header = ['Title', 'Price', 'Available Stroage','Available Colours','Ratings','Date']
    data = [title.strip(), price.strip()[1:], stroage_list, color_list, rating.strip(), today]

    with open('FlipkartWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

I have used for loop with the iteration of 2 times to check the code running fine.

In [97]:
for i in range(2):
    check_price()

In [98]:
df = pd.read_csv('/content/FlipkartWebScraperDataset.csv')

df

,Title,Price,Available Stroage,Available Colours,Ratings,Date
0,"APPLE iPhone 11 (Red, 64 GB)","39,999","['64 GB', '128 GB']","['Black', 'Green', 'Purple', 'Red', 'White', '...",4.6,2022-11-18
1,"APPLE iPhone 11 (Red, 64 GB)","39,999","['64 GB', '128 GB']","['Black', 'Green', 'Purple', 'Red', 'White', '...",4.6,2022-11-18
2,"APPLE iPhone 11 (Red, 64 GB)","39,999","['64 GB', '128 GB']","['Black', 'Green', 'Purple', 'Red', 'White', '...",4.6,2022-11-18
3,"APPLE iPhone 11 (Red, 64 GB)","39,999","['64 GB', '128 GB']","['Black', 'Green', 'Purple', 'Red', 'White', '...",4.6,2022-11-18